.container{
    display: flex;
}

.box{
    padding: 1rem;
    margin: 1rem;
    background: coral;
    color: #fff;
    box-shadow: 10px 10px teal;  /* offset-x | offset-y | color  */
    box-shadow: 5px 5px 20px teal;  /* offset-x | offset-y | blur-radius | color  */
    box-shadow: -5px -5px 20px teal;  /* Negative values  */
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);  /* offset-x | offset-y | blur-radius | spread-radius | color  */
    box-shadow: inset -3px -3px teal;  /* inset | offset-x | offset-y | color  */
    box-shadow: 3px 3px 10px teal, -3px -3px 10px olive;  /* Multiple shadows  */
}


