@import url('./variables.css');

*{
    margin: 0;
    padding: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif; 
   line-height: 1.4;
   background: var(--light-color);
}

header{
    background-color: var(--primary-color);
    border-bottom: 5px var(--secondary-color);
    color: #fff;
    text-align: center;
}

.container{
    display: flex;
    margin: auto;
    max-width: var(--max-width);
}

.box{
   background-color: var(--primary-color); 
   border-bottom: 5px var(--secondary-color) solid;
   color: #fff;
   padding: 1rem;
   margin: 1rem;
}

.box-1{flex: var(--box-1-width)}
.box-2{flex: var(--box-2-width)}